
.main_div_email{
    position: absolute;
    left: 19.55%;
    right: 19.59%;
    top: 19.73%;
    bottom: 19.74%;
    background: #3F4C83;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    }
    
    
    .main_div_email #first_div{
        position: absolute;
        left: 0%;
        right: 44.08%;
         /* width:56.02%;  */
         width: 52%;
    
            top: 0%;
        bottom: 0%;
        
        background: #3F4C83;
    }
    
    .main_div_email #first_div #welcome{
        position: absolute;
        /* left: 7.89%; */
        left: 10%;
        right: 10%;
        width: 80%;
        /* right: 0.77%; */
        top: 43.42%;
        bottom: 51.7%;
    
        font-family: 'Josefin Sans';
        font-style: normal;
        /* font-size: 30px; */
        font-size: 2.7vw;
    
        /* font-weight: 200; */
        /* identical to box height */
        
        
        color: #FEFEFE;
    }
    
    .main_div_email #first_div img{
    
        position: absolute;
        /* width: 100%; */
        /* height: 75vh; */
        left: -6%;
        height: 110%;
        width: 100%;
        bottom: -6%;
        
        /* height: 75vh; */
    
    
    }
   
    
    .main_div_email img{
        position: absolute;
        width: 68rem;
        height: 64rem;
        left: -5%;
        top: 17%;
        
    }
    
    
    .main_div_email  .second_div{
        position: absolute;
        left: 56.02%;
        right: 0%;
        top: 0%;
        bottom: 0%;
        
        background: #FEFEFE;
    }
    
    .main_div_email   .second_div #heading1{
    position: absolute;
    left: 10%;
    right: 10%;
    /* top: 20.17%; */
    top: 15%;
    bottom: 62.25%;
    
    font-family: 'Josefin Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 28px;
    /* identical to box height */
    
    width: 90%;
    color: #293242;
    }
    
    
    .main_div_email  .second_div #user_name_div{
        position: absolute;
        left: 15%;
        width:80%;
        height: 15%;
        right: 20%;
        /* top: 35.28%; */
        top: 27%;
       
    
        bottom: 52.9%;
        background:#FEFEFE;
    
        
       
    }
    .main_div_email  label  #verify{
position: relative;
width: 32%;
height: 1%;

    }
   
    .main_div_email   .second_div #user_name_div #user_name{
        
       position: absolute;
       /* text-align: center; */
        width: 100%;
        height:60%;
        left:0%;
        
        top: 70%;
        border: none;
        resize: none;
        outline: none;
        font-size: medium;
        color: #363636;
        background: #E8E6FF;
        border-radius: 25px;
       
    }
    
   
    .main_div_email   .second_div #password_div #password{
        
       position: relative;
       /* text-align: center; */
       width: 80%;
        height:80%;
        left:8%;
        top: 5%;
        border: none;
        resize: none;
        outline: none;
        font-size: 20px;
        color: #363636;
        background: #E8E6FF;
        border-radius: 25px;
    }
    
    .main_div_email   .selection_div{
        position: absolute;
    
        width: 85%;
        height: 4rem;
        right: 20%;
        top: 56.28%;
        left: 1%;
        
    }
    
    .main_div_email   .selection_div span{
        position: absolute;
        font-family: 'Josefin Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    /* identical to box height */
    top: 4%;
    
    left:27%;
    color: #293242;
    
    }
    
    .main_div_email  .selection_div input{
        position: absolute;
        left: 20%;
    }
    .main_div_email .selection_div a{
       float: right;
       font-family: 'Josefin Sans';
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 14px;
    /* identical to box height */
    left: 56%;
    
    color: #293242;
    }
    
    .main_div_email .button_div{
        position: absolute;
        width: 100%;
        height: 3rem;
        top: 65.28%;
        
          
    }
    
    .main_div_email .button_div #button{
        position: absolute;
        background: #293242;
        color: white;
        font-size: 2rem;
        border: none;  
        border-radius: 25px;
        height: 3rem;
        width: 35%; 
        left: 35%;
        right: 35%;
    }
    
    .main_div_email   .button_div  #error{
        position: absolute;
        left: 35%;
        top: 120%;
       
        font-weight: bold;
        
        
    }
    .main_div_email  .bottom{
        position: absolute;
        left: 5.75%;
        right: 31.99%;
        top: 82.08%;
        bottom: 23.22%;
        width: 100%;
        background-color: #3F4C83;
    }
    .main_div_email .bottom img{
        width: 12rem;
        height: 7rem;
    }
   
    .main_div_email #error_div{
        position: absolute;
        color: rgb(84, 21, 4);
        font-size: 0.7vw;
        height: 2rem;
        width: 50%; 
        left: 25%;
        right: 25%;
        top: 78.08%;
        z-index: 1000;
    }
    
    
    
    
  
    .dropdown-content li:hover {background-color: #ddd;}
    
    .change_lang_div:hover .dropdown-content ul {display: block;}
    
    @media screen  and (min-width:1300px) and (max-width:1450px) {
        
    
    .main_div_email{
        left: 12%;
        right: 12%;
        bottom: 15%;
        top: 15%;
    }
   
    
    }

    @media screen  and (min-width:1080px) and (max-width:1299px) {
        
    
        .main_div_email{
            left: 10%;
            right: 10%;
            bottom: 15%;
            top: 15%;
        }
       
        .second_div #user_name_div{
        
             width: 90%;
             
             left:5%;
      
         }

         .second_div #password_div{
           
            left: 5%;
            width:90%;     
           
        }
        .second_div #heading1{
            width: 90%;
            left:7%;
               }

               .button_div #button{
                               
                height: 3rem;
                width: 45%; 
                left: 27.5%;
                right: 27.5%;
            } 
            
            .selection_div span{
             
            left:14%;
           
            }
            
            .selection_div input{
              
                left: 7%;
            }

            .main_div_email #first_div #welcome{
              
                left: 5%;
                right:5%;
                width: 90%;
                font-size: 3.5vw;
           
            }
            
            .main_div_email #first_div img{
            
                left: -6%;
                height: 90%;
                width: 110%;
                top:25%;
              
            }

        }

        @media screen  and (min-width:900px) and (max-width:1079px) {
        
    
            .main_div_email{
                left: 5%;
                right: 5%;
                bottom: 15%;
                top: 15%;
            }
           
            .second_div #user_name_div{
            
                 width: 90%;
                 
                 left:5%;
          
             }
    
             .second_div #password_div{
               
                left: 5%;
                width:90%;     
               
            }
            .second_div #heading1{
                width: 90%;
                left:7%;
                   }
    
                   .button_div #button{
                                   
                    height: 3rem;
                    width: 45%; 
                    left: 27.5%;
                    right: 27.5%;
                } 
                
                .selection_div span{
                 
                left:14%;
               
                }
                
                .selection_div input{
                  
                    left: 7%;
                }
    
                .main_div_email #first_div #welcome{
                  
                    left: 5%;
                    right:5%;
                    width: 90%;
                    font-size: 3.5vw;
               
                }
                
                .main_div_email #first_div img{
                
                    left: -6%;
                    height: 90%;
                    width: 110%;
                    top:25%;
                  
                }
    
            }

            @media screen  and (min-width:750px) and (max-width:899px) {
        
    
                .main_div_email{
                    left: 5%;
                    right: 5%;
                    bottom: 10%;
                    top: 10%;
                }
               
                .main_div_email  .second_div #user_name_div{
                
                     width: 90%;
                     height:14%;
                     left:5%;
                  
              
                 }

               
                 .main_div_email  .second_div #user_name_div     #user_name{
                    position: absolute;
                    top: 82%;
                    height: 32%;
                }
                 
                .main_div_email  .second_div #heading1{
                    width: 90%;
                    left:7%;
                       }
        
                       .main_div_email     .button_div #button{
                                       
                        height: 3rem;
                        width: 55%; 
                        left: 22.5%;
                        right: 22.5%;
                    } 
                    
                    .main_div_email    .selection_div span{
                     
                    left:16%;
                   
                    }
                    
                    .main_div_email   .selection_div input{
                      
                        left: 7%;
                    }
        
                     .main_div_email #first_div #welcome{
                      
                        left: 0%;
                        right:0%;
                        width:100%;
                        font-size: 4.5vw;
                   
                    }
                    
                   .main_div_email #first_div img{
                    
                        left: 0%;
                        height: 60%;
                        width: 100%;
                        top:35%;
                      
                    }
                    .main_div_email  .bottom{
                        
                        left: 5.75%;
                        right: 31.99%;
                        top:90.08%;
                        
                        width: 100%;
                        
                    }
                    .main_div_email  .bottom img{
                        width: 8rem;
                        height:3rem;
                    }
                    
        
                }

                @media screen   and (min-width:100px) and (max-width:750px) {
        
    
                    .main_div_email{
                        left: 0%;
                        right: 0%;
                        bottom: 0%;
                        top: 0%;
                        width: 100%;
                        height: 100%;
                        overflow: hidden;
                    
                    }
 
                        .main_div_email #first_div{
                            
                              width: 100%;
                             height: 50%;
                        left: 0%;
                                top: 0%;
                            bottom: 0%;
                            background:#3F4C83;
                            z-index: 100;
                        }
                       
                        .main_div_email #first_div #welcome{
                            
                            left: 10%;
                            right:0%;
                            width:80%;
                            right: 10%;
                            top: 20%;
                            font-size: 9vw;
                            color: #FEFEFE
                       
                        }
                        
                        .main_div_email #first_div img{
                        
                            left: -13%;
                            height: 110%;
                            width: 110%;
                    top: 10%;
                          
                        }
                       
                        .main_div_email  .second_div{
                            
                            height: 50%;
                            top: 50%;
                            left: 0%; 
                            width: 100%;
                            background: #FEFEFE;
                           
                        }

                        .main_div_email  .second_div #heading1{
                            width: 90%;
                            left:5%;
                            right: 5%;
                            font-weight: bold;
                               }
                        
                   
                               .main_div_email  .second_div #user_name_div{
                    
                         width: 80%;
                         height:14%;
                         left:10%;
                         right: 10%;
                  
                     }

                     .main_div_email   .second_div #user_name_div   #user_name{
                        position: absolute;
                        top: 82%;
                        height: 37%;
                    }
                    .main_div_email    .second_div #user_name_div img{
                        width: 4%;
                       
                        
                    }
    
                    
                    .main_div_email    .second_div #password_div{
                       
                        width: 80%;
                        height:10%;
                        left:10%;
                        right: 10%; 
                       
                    }
                    .main_div_email  .second_div #password_div img{
                        width: 4%;
                       
                    }
                   
            
                    .main_div_email        .button_div #button{
                                          
                            height: 3rem;
                            width: 50%; 
                            left: 22.5%;
                            right: 22.5%;
                        } 
                        
                        .main_div_email   .selection_div span{
                         
                        left:16%;
                       
                        }
                        
                        .main_div_email    .selection_div input{
                        
                            left: 10%;
                        }
            
                       
                        .main_div_email     .bottom{
                            
                            left: 5.75%;
                            right: 31.99%;
                            top:85.08%;
                          
                            width: 100%;
                            
                        }
                        .main_div_email   .bottom img{
                            width: 8rem;
                            height:3rem;
                        }
                        .main_div_email     .second_div #user_name_div #user_name{
        
                            position: absolute;
                           width: 100%;
                             height:60%;
                             left:0%;
                             
                             top: 100%;
                             bottom: 0%;
                         
                         } 

            
                    }
